{% extends 'base.html' %}
{% load static %}
{% block additional_css %}
    <link rel="stylesheet" href="{% static 'css/base_form.css' %}">
{% endblock %}
{% block title %}Въвеждане на ученическа информация{% endblock %}
{% block content %}

    <div class="form-page">
        <div class="form-panel">
            <div class="form-panel-header">
                <h2>Въвеждане на ученическа информация</h2>
                <p>Попълни информацията по-долу, за да добавиш ученическата информация в системата.</p>
            </div>

            <div class="form-panel-body">
                <form method="POST" action="{% url 'additional info' %}">
                    {% csrf_token %}

                    {{ profile_form.as_p }}

                    {{ grade_form.as_p }}

                    <div class="form-actions">
                        <button type="submit" class="btn-main">Запази</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}